@charset "uf-8";

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
} */

/*fixing styling issue: white space between sections and page*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(/images/pexels-lukas-942802.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Nav Bar styling */
.nav-links,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*Nav Bar top */
.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  cursor: pointer;
  margin-right: auto;
  border: 1.5px whitesmoke solid;
}

header {
  display: flex;
  justify-content: flex-end;
  /* background-color: #c47c39; */
  /*background-color: #24252A; */
  align-items: center;
  padding: 30px 5%;
  margin: 0 -5px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

/*stling nav bar + hover effect*/
.nav-links li a {
  transition: all 0.3s ease 0s;
  padding: 9px 20px;
  background-color: rgba(36, 37, 42);
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 50px;
  margin: 0 3px;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 90vh;
  width: 85vw;
  margin: 0 auto;
  padding-top: 75px;
}

.skills {
  /* border: 2px red solid; */
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  /* padding-left: 90px; */
  background-color: white;
}

/* styling the icons  */
.skills .fa-3x {
  color: #81450c;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.tech,
.interpersonal {
  padding: 15px;
}

.tech h3,
.interpersonal h3 {
  font-size: 20px;
  opacity: 0.9;
}

.tech li,
.interpersonal li {
  color: #777;
}

/* styling content div  */
.content {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* styling heading  */
.content h2 {
  font-size: 25px;
  opacity: 0.9;
}

/* line bar */
.content span {
  height: 2px;
  width: 80px;
  background: #81450c;
  margin: 30px 0;
}

.content p {
  padding-bottom: 15px;
  font-weight: 300px;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
}



.content .about-links {
  list-style: none;
}

.about-links .space {
  padding: 5px;
}

.about-links {
  margin: 15px 0;
  list-style: none;

}

.about-links li a{
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
  transition: all 0.3s ease 0s;
  padding: 9px 20px;
  background-color: rgba(36,37,42);
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  margin: 0 3px;
  font-size: 18px;
}


/*Styling doesn't seem to work; style links with nav bar styling!*/

.about-links li:hover {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}

.about-links li:hover a {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}


.space {
  height: 30px;
  width: 0.6px;
  background: none;
  margin: 0 auto;
}





/* Media quiries  */
@media (max-width: 992px) {
  .about-me {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .skills {
    height: 50vh;
  }
  .content {
    height: 100vh;
  }
  .content h2 {
    font-size: 19px;
    margin-top: 50px;
  }
  .content span {
    margin: 20px 0;
  }
  .content p {
    font-size: 13px;
  }
  .about-links li a {
    font-size: 13px;
  }
  .about-links li {
    padding: 6.5px 10.5px;
  }
}

/*history styling - will need to fix this*/
/* .history {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ECCCB4;
} */

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 90vh;
  width: 85vw;
  margin: 0 auto;
  padding-top: 75px;
  background-color: white;
}

.background {
  width: 100%;
}

.background h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.background h4 {
  color: #81450c;
}

/* display it as two-column flex */
/*
footer {
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: centre;
  flex-wrap: wrap-reverse;
}

.logo {
  height: 75px;
  width: auto;
  border-radius: 50%;
}

.social-media {
  margin: 20px 0;
}

.social-media a{
  color: #fc5c65;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 20px;
}

.border {
  width: 100px;
  height: 4px;
  background: #81450c;
}

.blog-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover {
  opacity: 0.7;
} */

/*media queries fixing */
/*
@media screen and (max-width: 900px) {
  .footer-container {
    max-width: 600%;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
}  */

/*separating button when minimised*/
/*
@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
} */

/* Footer: styling background and padding */
footer {
  background: #f1f1f1;
  padding: 40px 0;
}

/* Responsive display display as two-column flex, evenly + wrap*/
.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: centre;
  flex-wrap: wrap-reverse;
}

/* Logo: styling, weight + height*/
.logo {
  height: 75px;
  width: auto;
  border-radius: 60%;
}

/*Social media styling: flexbox + wrap for responsive design*/
.social-media {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Social Media: styling, animations + transition*/
.social-media a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2c3e50;
  color: whitesmoke;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 27px;
}

/* Social Media: new background colour with hover*/
.social-media a:hover {
  background: #50aaff;
}

/* Social Media: icon transition effect for 0.4s*/
.social-media a i {
  transition: 0.4s all;
}

/* Social Media: rotating animation/transition effect with hover*/
.social-media a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

/* right column h1*/
.right-col h1 {
  font-size: 20px;
  padding: 20;
}

/* Border: styling*/
.border {
  width: 100px;
  height: 4px;
  background: #81450c;
}

/*media queries fixing */
@media screen and (max-width: 900px) {
  .footer-container {
    max-width: 600%;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
}

/*separating button when minimised*/
@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}
