@charset "uf-8";

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 90vh;
  width: 85vw;
  margin: 0 auto;
}

.skills {
  border: 2px red solid;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tech h3, .interpersonal h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4.5px;
  opacity: 0.9;
}

.tech li, .interpersonal li {
  color: #777;
}


/* styling content div  */
.content {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* styling heading  */
.content h2 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 6px;
  opacity: 0.9;
}

/* line bar */
.content span {
  height: 2px;
  width: 80px;
  background: #81450c;
  margin: 30px 0;
}

.content p {
  padding-bottom: 15px;
  font-weight: 300px;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
}


-----------

/* Nav Bar styling */
.nav-links, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
} 

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

/*stling nav bar + hover effect*/
.nav-links li a {
  transition: all 0.3s ease 0s;
  padding: 9px 20px;
  background-color: rgba(36,37,42);
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 50px;
  margin: 0 3px;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}

----------

.content .about-links {
  list-style: none;
}

.about-links .space {
  padding: 5px;
}

.about-links {
  margin: 15px 0;
  list-style: none;

}

.about-links li a{
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
  transition: all 0.3s ease 0s;
  padding: 9px 20px;
  background-color: rgba(36,37,42);
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  margin: 0 3px;
  font-size: 18px;
}


/*Styling doesn't seem to work; style links with nav bar styling!*/

.about-links li:hover {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}

.about-links li:hover a {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}


.space {
  height: 30px;
  width: 0.6px;
  background: none;
  margin: 0 auto;
}

/* Media quiries  */
@media(max-width: 992px)
{   
  .about-me {
    grid-template-columns: 1fr;
    width: 100%; 
  }
  .skills {
    height: 50vh;
  }
  .content {
    height: 100vh;
  }
  .content h2 {
    font-size: 19px;
    margin-top: 50px;
  }
  .content span {
    margin: 20px 0;
  }
  .content p {
    font-size: 13px;
  }
  .about-links li a {
    font-size: 13px;
  }
  .about-links li {
    padding: 6.5px 10.5px;
  }

}
