
@charset "uf-8";

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');







/* Footer: styling background and padding */
footer {
  background: #f1f1f1;
  padding: 40px 0;
}

/* Responsive display display as two-column flex, evenly + wrap*/
.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: centre;
  flex-wrap: wrap-reverse;
}

/* Logo: styling, weight + height*/
.logo {
  height: 75px;
  width: auto;
  border-radius: 50%;
}

/*Social media styling: flexbox + wrap for responsive design*/
.social-media {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Social Media: styling, animations + transition*/
.social-media a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2c3e50;
  color: whitesmoke;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 27px;
}

/* Social Media: new background colour with hover*/
.social-media a:hover {
  background: #50aaff;
}

/* Social Media: transition effect for 0.4s*/
.social-media a i {
  transition: 0.4s all;
}

/* Social Media: rotatng animation/transition effect with hover*/
.social-media a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

/* right column h1*/
.right-col h1 {
  font-size: 20px;
}

/* Border: styling*/
.border {
  width: 100px;
  height: 4px;
  background: #81450c;
}


/*media queries fixing */
@media screen and (max-width: 900px) {
  .footer-container {
    max-width: 600%;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
}

/*separating button when minimised*/
@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}