@charset "uf-8";
/* background image for home-page */
body {
  background-image: url(/images/pexels-lukas-942802.jpg);
  background-size: cover;
  background-attachment: fixed;
} 

.section {

}


/*container */
.text-container p:nth-child(1) {
	font-family:'Lucida Sans';
  font-weight:bold;
  color: #6d6d6d;
	font-size:22px;
}
.text-container p:nth-child(2) {
	font-family: Calibri;
	font-weight: bold;
	letter-spacing:1px;
	color:#1a1a1a;
  font-size:70px;
  line-height: 30px;	
  margin-bottom: 40px;
}

/*ordered list attempt 1*/

.text-container ul li {
  list-style-type: lower-greek;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #403e3e;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.text-container nobr {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #403e3e;
}


/* un ordered list; possible remove children below*/

/*
.text-container p:nth-child(3){
	font-family: 'Lucida Sans';
	color: #403e3e;
	font-size:20px;
  line-height: 0px;  
}

.text-container p:nth-child(4){
	font-family: 'Lucida Sans';
	color: #403e3e;
	font-size:20px;
  line-height: 0px;
}

.text-container p:nth-child(5){
	font-family: 'Lucida Sans';
	color: #403e3e;
	font-size:20px;
  line-height: 0px;
} 
*/

 
.text-container p{
	margin:45px 0px 25px;
	line-height:0px;
}

/* move whole container inwards */
.text-container {
	position: absolute;
	left:25%;
	top:50%;
  transform:translate(-25%,-50%);
}

/* buttons */
.text-container button {
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:'Lucida Sans';
	font-weight:bold;
	font-size: 14px;
	outline:none;
  margin:0px 10px;
  margin-top: 20px;
}

.mystory-btn {
  border: 2px solid #373636;
  color: #373636;
}

.cv-btn {
  background-color: #0b0b0b;
  color: #ffffff;
  border: none;
}

/* interactive + hover over my story */
button:active {
  transform: scale(1.1);
}

.mystory-btn:hover {
  border: 2px solid #373636;
  color: #ffffff;
  background-color: #81450c;
}

/* moving/situating image */
/*
.profilepic {
  width: 300px;
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
}

.profilepic:hover {
  width: 300px;
  background: url(/images/codedylan2.jpg);
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
  opacity: 0;
} */


/* another attempt at pic transition */
/*
#profilepic {
  width: 300px;
  background: url(/images/blackwhite.jpg);
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
}

#profilepic:hover {
  width: 300px;
  background: url(/images/codedylan2.jpg);
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
  opacity: 1;
} */

/* this worked! Now figure out how to do it internally with images.. */
/*
#Library {
  height: 200px;
  width: 300px;
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
}

#Library:hover {
  content: url('http://www.furrytalk.com/wp-content/uploads/2010/05/2.jpg');
  height: 200px;
  width: 300px;
  clip-path: circle();
  position: absolute;
  bottom: 250px;
  left: 80%;
  transform: translateX(-80%);
} */

/* transition effects for profile pic */
#profilepic {
  height: 250px;
  width: 350px;
  clip-path: circle();
  position: absolute;
  bottom: 275px;
  left: 85%;
  transform: translateX(-85%);
}

/* transition for pic not working.. */
#profilepic {
  transition: all 2s linear;
}

#profilepic:hover {
  content: url(/images/dylanemojiUpload\ -\ Copy.jpg);
  height: 250px;
  width: 350px;
  clip-path: circle();
  position: absolute;
  bottom: 275px;
  left: 85%;
  transform: translateX(-85%);
}

/* animations: .text-container */