@charset "uf-8";

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/images/pexels-lukas-942802.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  justify-content: space-between;
  overflow-x: hidden;
}


/* Nav Bar styling */
.nav-links, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
} 

/*Nav Bar top */
.logo {
  height: 75px;
  width: auto;
  border-radius: 60%;
  cursor: pointer;
  margin-right: auto;
  border: 1.5px whitesmoke solid;
} 

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
}
 

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  display: flex;
  /* padding: 0px 20px; */
}

/*styling nav bar + hover effect*/
.nav-links li a {
  transition: all 0.3s ease 0s;
  padding: 9px 20px;
  background-color: rgba(36,37,42);
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 50px;
  margin: 0 3px;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #81450c;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 800;
}







.under-construction {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.under-construction h2 {
  max-width: 600px;
  padding-bottom: 30px;
}

.under-construction p {
  max-width: 600px;
}






/* Footer: styling background and padding */
footer {
  background: #f1f1f1;
  padding: 40px 0;
}

/* Responsive display display as two-column flex, evenly + wrap*/
.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: centre;
  flex-wrap: wrap-reverse;
}

/* Logo: styling, weight + height*/
.logo {
  height: 75px;
  width: auto;
  border-radius: 50%;
}

/*Social media styling: flexbox + wrap for responsive design*/
.social-media {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Social Media: styling, animations + transition*/
.social-media a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: #2c3e50;
  color: whitesmoke;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 27px;
}

/* Social Media: new background colour with hover*/
.social-media a:hover {
  background: #50aaff;
}

/* Social Media: transition effect for 0.4s*/
.social-media a i {
  transition: 0.4s all;
}

/* Social Media: rotatng animation/transition effect with hover*/
.social-media a:hover > i {
  transform: scale(1.6) rotate(25deg);
}

/* right column h1*/
.right-col h1 {
  font-size: 20px;
}

/* Border: styling*/
.border {
  width: 100px;
  height: 4px;
  background: #81450c;
}


/*media queries fixing */



@media screen and (max-width: 900px) {
    header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo {
      margin: auto;
    }
   
   .nav-links {
     display: flex;
     padding-left: 0;
   }
  .footer-container {
    max-width: 600%;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left-col {
    width: 100%;
    text-align: center;
  }
}

/*separating button when minimised*/
@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .under-construction p {
    padding: 15px;
    font-size: 15px;  
  }
}